name: Docker Build & Push

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - 
        uses: actions/checkout@v4

      - name: Set
        uses: docker/setup-qemu-action@v2

      - name: Set up 
        uses: docker/setup-buildx-action@v2

      - name: Log in 
        uses: docker/login-action@v3
        with:
          registry: https://index.docker.io/v1/
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            stanlee45/devops:latest
            stanlee45/devops:${{ github.sha }}
            stanlee45/devops:${{ github.ref_name }}
